*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

#container{
    display: grid;
    width:100vw;
    height:57vw;

   
   
}

.cajaG {
    width: 80vw;
    height: 52vw;
    background-color:rgb(206, 204, 204);
    grid-column-start: 2;
    grid-row-start: 2;
}
.menu{
    width: 5vw;
    height: 57vw;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:white ;
    align-items: center;
    
  


}
#container #logo  h3{
    font-size: 2vw;
    text-align:center;
    color:#0280fe;

}
#boton{
    margin-left: 1vw;
    margin-top: 2vw;
    width:15vw;
    height: 3vw;
    background-color: #0280fe;
    border-radius: 0.5vw;
}
#boton #textbo{
    margin-top: -1.6vw;
    margin-left: 1vw;
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#boton #img1{
    width: 1vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 2vw;
}
#cuadro1{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 80vw;
    height: 5vw;
    background-color:white;
   
}
#main {
    margin-top: 2vw;
    font-size: 1vw;
    padding-left: 1vw;

}
.all ul{
    list-style: none;
    margin-top: 1vw;
    padding:0 vw;
}


.all ul li .img{
    font-size: 2vw;
    padding: 0 1vw;;
}
.all ul li a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
    padding-left: 1vw;
    opacity: 1;
    pointer-events: none;
    
}

#check:checked ~ .menu{
    width: 20vw;

}

#check {
    display: none;
}