*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

#container{
    display: grid;
    width:100vw;
    height:57vw;

   
   
}

#menufo{
    margin-left: 2vw;
    margin-top: 1vw;
    width: 3vw;
    height: 3vw;
}
#perfil{
    margin-left:68vw ;
    margin-top: 1vw;
    width: 3vw;
    height: 3vw;
    
}

.cajaG {
    width: 80vw;
    height: 52vw;
    background-color:rgb(219, 213, 213);
    grid-column-start: 2;
    grid-row-start: 2;
    overflow: hidden;
}
#cajita1{
    margin-left:2vw ;
    margin-top: 5vw;
    width: 18vw;
    height: 9vw;
    border-radius: 0.5vw;
    background-color: white;
}
#cajita2{
    margin-left:21vw ;
    margin-top: -9vw;
    width: 18vw;
    height: 9vw;
    border-radius: 0.5vw;
    background-color: white;
}
#cajita3{
    margin-left:40vw ;
    margin-top: -9vw;
    width: 18vw;
    height: 9vw;
    border-radius: 0.5vw;
    background-color: white;
}
#cajita4{
    margin-left:59vw ;
    margin-top: -9vw;
    width: 18vw;
    height: 9vw;
    border-radius: 0.5vw;
    background-color: white;
}
#cajita5{
    margin-left:2vw ;
    margin-top: 2vw;
    width: 75vw;
    height: 9vw;
    border-radius: 0.5vw;
    background-color: white;
}
.menu{
    width: 20vw;
    height: 57vw;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color:white ;
    align-items: center;
    
  


}
#container #logo h3{
    margin-top: -2.5vw;
    margin-left: -1.5vw;
    font-size: 2vw;
    text-align:center;
    color:#0280fe;

}

#container #logo #carita{
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    width: 2vw;
    align-items: center;
}
#boton{
    margin-left: 1.5vw;
    margin-top: 4vw;
    width:15vw;
    height: 3vw;
    background-color: #0280fe;
    border-radius: 0.5vw;
}
#boton #textbo{
    margin-top: -1.6vw;
    margin-left: 1vw;
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
#boton #img1{
    width: 1vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 2vw;
}
#cuadro1{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100vw;
    height: 5vw;
    background-color:white;
   
}
#main {
    margin-top: 2vw;
    font-size: 1vw;
    padding-left: 1vw;
    opacity: 0;

}
#title1{
    margin-top: 2vw;
    font-size: 1vw;
    padding-left: 1vw;
    opacity: 0;
}
.cajaG h2{
    margin-top: 2vw;
    margin-left:2vw;
    
    
}
.cajaG h6{
    color: rgb(167, 162, 162);
}
.cajaG h6 span{
    margin-top: 3vw;
    margin-left:2vw;
    color:#0280fe;
}
#textico1{
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: -1.5vw;

}
#textico2{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico3{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico4{
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: -1.5vw;

}
#textico5{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico6{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico7{
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: -1.5vw;

}
#textico8{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico9{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico10{
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: -1.5vw;

}
#textico11{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico12{
    font-size: 1vw;
    margin-left: 1vw;
    padding-top: 0.5vw;
}
#textico13{
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: 1vw;
}
#textico14{
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: 2vw;
}
progress{
    margin-left: 1vw;
    
}
.imagenes{
    width: 1vw;
    height: 1vw;
    margin-left: 16vw;
    margin-top:0.5vw;
  


}

.all ul{
    list-style: none;
    margin-top: 1vw;
    padding:0 1vw;
}


.all ul li .img{
    font-size: 2vw;
    padding: 0 1vw;;
}
.all ul li a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
    padding-left: 1vw;
    opacity: 1;
    pointer-events: none;
    
}

#check:checked ~ .menu{
    width: 5vw;
    height:57vw

}
#check:checked ~ .menu #logo h3{
    opacity: 0;
}
#check:checked ~ .menu #boton {
    margin-top: 4vw;
    margin-left: 1vw;
    width: 3vw;

}
#check:checked ~ .menu #boton #img1{
    margin-left: 1vw;
}
#check:checked ~ .menu #boton #textbo{
    opacity: 0;

}
#check:checked~ .menu .all ul li .img{
    margin-left: -1vw;
   
}
#check:checked~ .cajaG{
    width: 94vw;
}
#check:checked~ .cajaG #cajita1{
    width: 21.5vw;
    margin-left: 1.5vw;
    height:10vw;
    margin-top: 5vw;
  
}


#check:checked~ .cajaG #cajita2{
    width: 21.5vw;
    margin-left: 24.5vw;
    height:10vw;
    margin-top: -10vw;
    
}
#check:checked~.cajaG #cajita3{
    width: 21.5vw;
    margin-left: 47.5vw;
    height:10vw;
    margin-top: -10vw;
}
#check:checked~ .cajaG #cajita4{
    margin-left:70.5vw;
    width: 21vw;
    height:10vw;
    margin-top: -10vw;
}

#check:checked~ .cajaG #cajita5{
    width: 90vw;
    margin-left: 1.5vw;
    height:10vw;
}
#check:checked ~ .menu .all ul li a{
    opacity: 0;
    pointer-events: auto;
}

#check:checked~ .cajaG .imagenes{
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 18.5vw;
}

#check {
    display: none;
}