
#principal{
    width: 30vw;
    height: 30vw;
    box-shadow: 0vw 2vw 1vw 0vw rgb(177, 175, 175) ;
    margin: 10vw auto;
    border-radius: 2vw;
}
#cajap{
    width: 30vw;
    height: 30vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid  rgb(255, 255, 255) ;
    border-radius: 2vw;
    margin: 10vw auto;
 

  

}
#circulito{
    background-color: rgb(34, 154, 252);
    width: 20vw;
    height: 20vw;
    margin-left: 5vw;
    margin-top: 4vw;
    border-radius: 50vw;

   
   
}
#tri1{
    position: relative;
    left:9vw;
    top: 1vw;
    width: 0vw;
    height: 0vw;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 10vw solid red;
   
 
}
#tri2{
    position: relative;
    left:9vw;
    top: 1vw;
    width: 0vw;
    height: 0vw;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 8vw solid white;

}

#circulito:hover{
    animation-name: flecha;
    animation-duration: 1.5s;
    z-index: 2;
    cursor: pointer;
}
@keyframes flecha {
    10%{
        transform: rotateZ(-90deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
    
}