
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw auto;
  
}

#cajap{
    position: relative;
    width:30vw;
    height: 30vw;
    background-color: #f2f2f2;
    border-radius: 2vw;
    box-shadow: 0 1vw 1vw  #ccc,
    0 1vw 1vw rgba(0,0,0,0.25),
    0 1.5vw 0 rgb(0,0,0,0.5),
    0 2vw 3vw rgb(0,0,0,0.1);
}
#circulito{
    background: linear-gradient(#1ec9ff, #2971e7);
    position: absolute;
    display: flex;
    border-radius: 50vw;
    justify-content: center;
    align-items: center;
    inset: 5vw;
    box-shadow: 0 -0.5vw 0 0.5vw rgba(0,0,0,0.15) 
    inset 0 5vw 0 rgba(0,0,0,0.1)
    
}
#circulito span{
    background-color: #f2f2f2;
    position: absolute;
    width: 0.15vw;
    height: 1vw;
    transform: translateY(-8.5vw)
    rotate(calc(12deg* var(--i)));
    transform-origin: 0 9vw;
    filter: drop-shadow(0.3vw 0.3vw 0vw rgba(0,0,0,0.15));
}
#circulito span:after{
    content: " ";
    background-color: #fff;
    position: absolute;
    width: 0.15vw;
    height: 1.5vw;
    transform: rotate(9deg);
    transform-origin:0 8vw ;

  
}
#tri{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2vw;
    inset: 5vw;
    left: 14vw;
    transform: rotate(65deg);
    filter: drop-shadow(0 0 2vw rgba(0,0,0,0.35));
    transition: 2s cubic-bezier(1,-0,39,0.51);

}
#tri::before{
    content: "";
    position: absolute;
    top: 1vw;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 9vw solid red;

}
#tri::after{
    content: "";
    position: absolute;
    top: 10vw;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 9vw solid rgb(250, 247, 247);

}
#cajap:hover #tri{
    animation-name: flecha;
    animation-duration: 4s;

}
@keyframes flecha {
    10%{
        transform: rotateZ(-50deg);
    }
    100%{
        transform: rotateZ(430deg);
    }
    
}