body{
  margin: auto;
}
@font-face {
    font-family: letra;
    src: url('tipoletra/MyriadPro-Light.otf');
}
@font-face {
    font-family: letra1;
    src: url('tipoletra/MYRIADPRO-REGULAR.OTF');
}
#cuadroprinci{
    width: 1920px;
    height: 1637px;
    margin:auto;
 
}
#barra1{
    position:fixed;
    top: -5px;
    width: 1920px;
    height: 174px;
    overflow: hidden;
    margin: auto;
    background-color: #3669c9;
    
   
}
#principal1{
    margin:auto;
    position: relative;
    top: 127px;
    left: 1px;
    width: 1920px;
    height: 1645px;
    overflow: hidden;
}
#barra2{
    width: 1920px;
    height: 174px;
    position: relative;
    bottom: -127px;
    overflow: hidden;
    background-color: #3669c9;
    margin:auto;
}
#img{
    position: relative;
    bottom:-27px;
    width: 1920px;
    height: 1637px;   
}
#cuadro1{
    position: absolute;
    top: 191px;
    left: 167px;
    width: 1545px;
    height: 1225px;
    background-color: white;
    border-radius: 50px;
}
#inicio{
    position:relative;
    top:58px;
    left:245px;
    font-size:30px;
    color:white;
    font-family: letra;

}
#tramite{
    position:relative;
    top:22px;
    left:445px;
    font-size:30px;
    color:white;
    font-family: letra;
}
#imagen{
    position: relative;
    width: 345px;
    height:75px;
    bottom:26px;
    left:745px;
    
}
#img1{
    position: absolute;
    width: 345px;
    height:75px;
}
#conctacto{
    position:relative;
    bottom:86px;
    left:1275px;
    font-size:30px;
    color:white;
    font-family: letra;
}
#barra3{
    position:relative;
    bottom:136px;
    left:1575px;
    width: 290px;
    height:65px;
    border-radius: 45px;
    background-color: white;
    
}
#consultar{
    position:relative;
    left:85px;
    top:15px;
    font-size:30px;
    color:black;
    font-family: letra;
}
#img2{
    position:absolute ;
    width: 1920px;
    height: 274px;
    left:-745px;
    top:25px;
}
#imagendian{
    position: relative;
    top: 51px;
    left: 630px;
    width: 313px;
    height: 53px;
   
}
#img3{
    position: absolute;
    width: 313px;
    height: 53px; 
}
#texto1{
    position:relative;
    top: 99px;
    left: 460px;
    width: 666px;
    height: 64px;
    font-size:26px;
    color:black;
    font-family: letra1;
    line-height: 5px;
}
#image{
    position: relative;
    top: 109px;
    left: 675px;
    width: 231px;
    height: 77px;
}
#img4{
    position: absolute;
    width: 231px;
    height: 77px;
}
#texto2{
    position:relative;
    top: 139px;
    left: 408px;
    width: 666px;
    height: 64px;
    font-size:21px;
    color:black;
    font-family: letra1;
}
#ingrese1{
    position: relative;
    top: 108px;
    left: 404px;
    width: 792px;
    height: 63px;
}
#input1{
    position: absolute;
    width: 792px;
    height: 63px;
    font-size: 45px;
   
   
}
#texto3{
    position:relative;
    top: 139px;
    left: 408px;
    width: 666px;
    height: 64px;
    font-size:21px;
    color:black;
    font-family: letra1;
}
#ingrese2{
    position: relative;
    top: 108px;
    left: 404px;
    width: 792px;
    height: 63px;
}
#input2{
    position: absolute;
    width: 792px;
    height: 63px;
    font-size: 20px;
    font-weight: lighter;
}
#image1{
    position: relative;
    top: 149px;
    left: 675px;
    width: 231px;
    height: 77px;
}
#img5{
    position: absolute;
    width: 231px;
    height: 77px;
}
#texto4{
    position:relative;
    top: 159px;
    left: 514px;
    width: 666px;
    height: 64px;
    font-size:11px;
    color:black;
    font-family: letra;
}
#barra4{
    position: relative;
    top:126px;
    left:706px;
    width: 165px;
    height: 42px;
    background-color: #4184ff;
    border-radius: 50px;
}
#texto5{
    position: relative;
    left:45px;
    top:10px;
    width: 165px;
    height: 42px;
    font-size:18px;
    color:white;
    font-family: letra;
}
#texto6{
    position: relative;
    left:285px;
    top:150px;
    width: 1545px;
    height: 1225px;
    font-size:35px;
    color:black;
    font-family: letra1;
}
#image2{
    position: relative;
    left:495px;
    bottom:1010px;
    width: 63px;
    height: 84px;
}
#img6{
    position: absolute;
    width: 63px;
    height: 84px;
}
#image3{
    position: relative;
    left:995px;
    bottom:1095px;
    width: 63px;
    height: 84px;
}
#img7{
    position: absolute;
    width: 63px;
    height: 84px;
}
#texto7{
    position: relative;
    top:-1080px;
    left:425px;
    width: 1545px;
    height: 1225px;
    font-size:35px;
    color:black;
    font-family: letra1;
}
#texto8{
    position: absolute;
    top: 941px;
    left: 829px;
    width: 480px;
    height: 35px;;
    font-size:35px;
    color:black;
    font-family: letra1;
}
#texto9{
    position:absolute;
    top: 980px;
    left: 278px;
    width: 548px;
    height: 86px;
    font-size:17px;
    color:black;
    font-family: letra;
    line-height: 10px;
}
#texto10{
    position:absolute;
    top: 980px;
    left: 778px;
    width: 548px;
    height: 86px;
    font-size:17px;
    color:black;
    font-family: letra;
    line-height: 10px;
}
#barra5{
    position: absolute;
    top:1126px;
    left:466px;
    width: 165px;
    height: 42px;
    background-color: #4184ff;
    border-radius: 50px;
}
#texto11{
    position: absolute;
    left:50px;
    top:10px;
    width: 165px;
    height: 42px;
    font-size:18px;
    color:white;
    font-family: letra;
}
#barra6{
    position: absolute;
    top:1126px;
    left:986px;
    width: 165px;
    height: 42px;
    background-color: #4184ff;
    border-radius: 50px;
}
#texto12{
    position:absolute;
    left:50px;
    top:10px;
    width: 165px;
    height: 42px;
    font-size:18px;
    color:white;
    font-family: letra;
}

#texto13{
    position:absolute;
    top: 516px;
    left: 424px;
    font-size:20px;
    font-family: letra;
    color:black;

}
a{
    color:white;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}