
#fotograma1{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame1;
    animation-duration: 1s;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  
}
#fotograma2{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 38vw;
    position: absolute;
    animation-name: frame2;
    animation-duration: 1.5s;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
   
#fotograma3{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 37vw;
    animation-name: frame3;
    position: absolute;
    animation-duration: 1s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  
}
#fotograma4{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame4;
    animation-duration: 2s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
   
}
#fotograma5{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame5;
    animation-duration: 1s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
   
}
#fotograma6{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame6;
    animation-duration: 2s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
#fotograma7{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame7;
    animation-duration: 1s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
}
#fotograma8{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame8;
    animation-duration: 2s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
#fotograma9{
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame9;
    animation-duration: 1s;
    opacity:0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
   
   
}
#fotograma10{ 
    width: 20vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 40vw;
    position: absolute;
    animation-name: frame10;
    animation-duration: 2s;
    opacity:0;
    animation-iteration-count:infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;


   
  
}
@keyframes frame1 {
    
    100%{ opacity: 100px;}
}
@keyframes frame2{
    100%{ opacity: 100%;}
}
@keyframes frame3{
    100%{ opacity: 100%;}
}
@keyframes frame4{
    100%{ opacity: 100%;}
}
@keyframes frame5{
    100%{ opacity: 100%;}
}
@keyframes frame6{
    100%{ opacity: 100%;}
}
@keyframes frame7{
    100%{ opacity: 100%;}
}
@keyframes frame8{
    100%{ opacity: 100%;}
}
@keyframes frame9{
    100%{ opacity: 100%;}
}
@keyframes frame10{
   100%{ opacity: 100%;}
}