body{
    display: flex;
    justify-content: center;
    overflow: hidden;

}
#fotograma34{
    display: flex;
    position: relative;
    margin-top: 4vw;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    animation-name: person1;
    animation-duration: 10s;
    left:80vw;
    
}
#fotograma1{
    position: relative;
    width: 50vw;
    height: 300vw;
    animation-name: person;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    

}
@keyframes person1 {
    100%{left: -80vw;}
    
}

@keyframes person {
    0%{top: 0vw;}
    10% {top: 0vw;}
    10.0001% {top: -30vw;}
    20% {top: -30vw;}
    20.0001% {top: -60vw;}
    30% {top: -60vw;}
    30.0001% {top: -90vw;}
    40% {top: -90vw;}
    40.0001% {top: -120vw;}
    50% {top: -120vw;}
    50.0001% {top: -150vw;}
    60% {top: -150vw;}
    60.0001% {top: -180vw;}
    70% {top: -180vw;}
    70.0001% {top: -210vw;}
    80% {top: -210vw;}
    80.0001% {top: -240vw;}
    90% {top: -240vw;}
    90.0001% {top: -270vw;}
    100% {top: -270vw;}
    100.0001% {top: -300vw;}


    
}